.idea
.vscode
/var/lib/
/var/app/
/var/www/.bash_history
/var/www/.composer
/var/www/.env
/var/www/.gitconfig
/var/www/.selected_editor
/var/www/.ssh
/var/www/.viminfo
/var/www/composer.json
/var/www/*.local
/var/www/logs/php_errors.log
/var/app/node_modules/
/nginx/conf.d/*.local.conf
/nginx/certificates/*.local.crt
/nginx/certificates/*.local.key
/ssh-keys/id_rsa*
/ssh-keys/known*
