.idea
.vscode
/var/lib/
/var/log/
/shell/
/var/postgres/
/var/node/app
!/var/node/app/index.js
/var/www/.bash*
/var/www/.composer
/var/www/.env
/var/www/.gitconfig
/var/www/.selected_editor
/var/www/.ssh
/var/www/.npm
/var/www/.yarn*
/var/www/.cache
/var/www/.viminfo
/var/www/composer.json
/var/www/*.local
/var/www/*.sh
/var/www/*.net
/var/www/*.node*
/var/www/*.magento-cloud*
/var/www/logs/php_errors.log
/var/app/node_modules/
/nginx/conf.d/*.local.conf
/nginx/conf.d/*.ddns.*.conf
/nginx/certificates/*.crt
/nginx/certificates/*.key
/ssh-keys/id_rsa*
/ssh-keys/known*
