version: "3.7"
services:
  webserver:
    image: nginx:alpine
    container_name: lemp-webserver
    working_dir: /var/www
    volumes:
      - ./var/www:/var/www
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certificates:/etc/nginx/certificates
    links:
      - php56-fpm
      - php73-fpm
      - php74-fpm
      - mariadb
    ports:
      - "80:80"
      - "443:443"

  php56-fpm:
    build:
      context: php56
      args:
        - USERGID=${USERGID}
        - USERUID=${USERUID}
        - USERNAME=${USERNAME}
    container_name: lemp-php56
    working_dir: /var/www
    volumes:
      - ./var/www:/var/www
      - ./php56/config/php.ini:/usr/local/etc/php/php.ini
    env_file:
      - .env
    environment:
      - TERM=xterm

  php73-fpm:
    build:
      context: php73
      args:
        - USERGID=${USERGID}
        - USERUID=${USERUID}
        - USERNAME=${USERNAME}
    container_name: lemp-php73
    working_dir: /var/www
    volumes:
      - ./var/www:/var/www
      - ./php73/config/php.ini:/usr/local/etc/php/php.ini
    env_file:
      - .env
    environment:
      - TERM=xterm

  php74-fpm:
    build:
      context: php74
      args:
        - USERGID=${USERGID}
        - USERUID=${USERUID}
        - USERNAME=${USERNAME}
    container_name: lemp-php74
    working_dir: /var/www
    volumes:
      - ./var/www:/var/www
      - ./php74/config/php.ini:/usr/local/etc/php/php.ini
    env_file:
      - .env
    environment:
      - TERM=xterm

  mariadb:
    image: mariadb:latest
    container_name: lemp-mariadb
    ports:
      - "3306:3306"
    volumes:
      - ./var/lib/mysql:/var/lib/mysql
    env_file:
      - .env

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: lemp-phpmyadmin
    links:
      - mariadb:db
    ports:
      - 8080:80
    env_file:
      - .env

  memcached:
    image: memcached:alpine
    container_name: lemp-memcached

  redis:
    image: redis:alpine
    container_name: lemp-redis
    depends_on:
      - webserver

  elasticsearch:
    image: elasticsearch:7.6.2
    container_name: lemp-elasticsearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - cluster.name=docker-cluster
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"

  rabbitmq:
    image: rabbitmq:management
    container_name: lemp-rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - "./rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins"
    env_file:
      - .env

  node:
    build:
      context: node
    container_name: lemp-node
    user: "node"
    volumes:
      - ./var/app:/usr/app
      - ./var/www:/var/www
    working_dir: /usr/app
    command: "node app.js"
    ports:
      - "3000:3000"

  mongodb:
    image: mongo:latest
    container_name: lemp-mongodb
    ports:
      - 27017:27017
    env_file:
      - .env

  mailhog:
    image: mailhog/mailhog:latest
    container_name: lemp-mailhog
    ports:
      - "8025:8025"
