server {
    listen 80;
    listen 443 ssl http2;

    #openssl req -newkey rsa:2048 -nodes -keyout ./nginx/certificates/default.local.key -x509 -days 365 -out ./nginx/certificates/default.local.crt
    ssl_certificate     /etc/nginx/certificates/default.local.crt;
    ssl_certificate_key /etc/nginx/certificates/default.local.key;

    root /var/www/default.local/public;
    index index.php index.html;

    server_name default.local;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_pass php84-fpm:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PHP_VALUE "error_log=/var/log/nginx/php_errors.log";
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        include fastcgi_params;
    }
}
